---
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";

let postsEntries = await getCollection("posts");

postsEntries.sort((a, b) => (new Date(b.data.published) as any) - (new Date(a.data.published) as any));
const description = "Various articles saved from now defunct a320.emulate.su witten by me or related to JZ47xx socs"
---

<Layout title="Posts - Table of Contents" {description}>
    <section class="max-w-3xl mx-auto">
        <!-- Front page with the table of contents -->
        <p>
            Some of these articles were written for <a href="https://web.archive.org/web/20220430175802/http://a320.emulate.su/">a320.emulate.su</a> (now defunct) in
            2012-2016 during the boom of cheap Dingux-based handhelds. Unfortunately, the site went offline since January
            2019, so putting the information here for safety.
        </p>
        <ul>
            {postsEntries.map((entry) => (
                <li>
                    <time datetime={entry.data.published}>
                         {new Date(entry.data.published).toISOString().substring(0, 10)}
                    </time>
                        -
                    <a href={`/posts/${entry.id}`}>{entry.data.title}</a>
                        - by <em>{entry.data.author}</em>
                </li>
            ))}
        </ul>
    </section>
</Layout>

<style>
    a {
        color: rgb(74, 74, 74);
        text-decoration: underline;
    }
</style>
