---
    //import { ClientRouter } from 'astro:transitions';
    import "src/styles/global.css";
    import "src/styles/style.scss";

interface Props {
    title: string;
    description?: string;
    articleInfo?: {
        postedAt: Date;
        updatedAt: Date | string;
        authorName: string;
    }
}

const { title, description, articleInfo } = Astro.props;

const metaTitle = title;
const metaDescription = description || "Astro description";
const canonicalURL = Astro.url.origin + Astro.url.pathname;

const article_published_time = articleInfo ? new Date(articleInfo?.postedAt || "").toISOString() : "";
const article_modified_time = articleInfo ? new Date(articleInfo?.updatedAt || "").toISOString() : "";
---

<!doctype html>
<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta property="og:title" content={metaTitle} />
        <meta name="description" content={metaDescription} />
        <meta name="generator" content={Astro.generator} />

        <link rel="canonical" href={canonicalURL} />
        <meta property="og:url" content={canonicalURL} />
        <meta name="twitter:url" content={canonicalURL} />

        {articleInfo && (
            <>
                <meta property="og:type" content="article">
                <meta property="article:publisher" content="https://dmitrysmagin.github.io">

                {article_published_time &&
                    <meta property="article:published_time" content={article_published_time}>
                }
                {article_modified_time &&
                    <meta property="article:modified_time" content={article_modified_time}>
                }
                {articleInfo.authorName &&
                    <meta property="article:author" content={articleInfo.authorName}>
                    <meta name="author" content={articleInfo.authorName}>
                }
            </>
        ) || (
            <meta property="og:type" content="website" />
        )}

        <meta property="og:site_name" content="Dmitry's Smagin personal site" />

        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview: -1">

        <slot name="head"/>
        <!--<ClientRouter /> -->
    </head>
    <body>
        <header>
            <nav class="text-center border-t-1 border-t-gray-300 border-b-1 border-b-gray-300">
                <ul class="menu">
                    <li><a class="menu-item" href="/">Home</a></li>
                    <li><a class="menu-item" href="/games/">Games</a></li>
                    <li><a class="menu-item" href="/posts/">Articles</a></li>
                    <li><a class="menu-item" href="/webdemos/">Web Demos</a></li>
                </ul>
            </nav>
        </header>

        <main id="content" class="container">
            <slot />
        </main>

        <footer class="footer">Built with fabulous <a href="https://astro.build/">Astro</a> framework</footer>

    </body>
</html>

<style lang="scss">
    nav {
        margin-top: 2rem;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                display: block;
                color: #47549a;
                /*background-color: #f4f7fb;*/
                border-radius: 8px;
                transition: color 0.5s ease, background-color 0.5s ease;
                &:hover {
                    color: #ffffff;
                    background-color: #7b7b7b;
                }
            }
        }

        a, a:visited, a:link {
            display: block;
            color: inherit;
            text-decoration: none;
            padding: 8px 2em;
            cursor: pointer;
            user-select: none;
        }
    }


    .footer {
        padding: 2rem 0;
        background: #06395a;
        padding-top: 2rem;
        color: #f4f7fb;
        text-align: center;
        font-size: 14px;
    }
    .footer a {
        color: #f4f7fb;
    }
</style>
